<%- include('layout/header.ejs') %>
<link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <header>
        <div class="comapany">
            <img src="images/project.png" alt="Logo" class="company__img">
        </div>

        <div class="signout">
            <button class="signout__button">Signout</button>
        </div>
    </header>

    <table class="dashboard">
        <th class="dashboard__heading">
            <td class="dashboard__headings">Id</td>
            <td class="dashboard__headings">Name</td>
            <td class="dashboard__headings">Login</td>
            <td class="dashboard__headings">Sign Out</td>
            <td class="dashboard__headings">Duration</td>
            <td class="dashboard__headings">Work Completed</td>
        </th>
        <% if(userData.length!=0){
            var=1;
            userData.forEach(function(data){
            %>
        <% } %>
        <tr class="dashboard__data">
            <td><%=data._id; %></td>
            <td><%=data.name; %></td>
            <td><%=data.login; %></td>
            <td><%=data.logout; %></td>
            <td><%=data.logout-data.login;%></td>
            <td><%=data.work;%></td>
        </tr>
        <% i++; }) %>
        <%} else{ %>
            <tr>
                <td colspan="6">No data Found</td>
            </tr>
        <% } %>
    </table>
    <%- include('layout/footer.ejs') %>
</body>
</html>